body {
  background-color: teal;
  /*text-align: center;*/
}


.jumbotron {
  background-image: url(http://static1.squarespace.com/static/5524448ee4b0d6f6b83ab9e2/t/5759a4c71bbee022293505cd/1466190401806/);
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  color: salmon;
  text-align: right;
}

.panel-heading {
  font-weight: bold;
  color: salmon !important;
}

.initial {
  /*background-image: url(https://cdn-assets.insomniac.com/catsonsynthesizersinspace_1120x470.jpg);*/
  /*background-size: cover;*/
  /*background-size: auto;*/
  /*overflow: hidden;
  max-width: 100%;
  max-height: 100%;*/
  color: salmon;
  font-family: fantasy;
  font-weight: 600;
  /*background-size: 100px 100px;*/
  background-position: center;
  background-size: contain;
  /*max-width: auto;
  max-height: auto;*/
}

/*.remove {
  display: none;
}*/

#trackResult {
  display: none;
}

.trackName {
  color: teal;
  font-weight: bolder;
}


/*#cSharp, #java, #ruby {
  display: none;
}*/

#initialShow {
  display: show;
}

/*#question1, #question3, #question5 {
  background-color: grey;
}*/
